@media screen and (max-width: 576px) {
    body{
        padding: 16px;
    }

    /* common styles start  */
    .navbar, 
    .travel-inputs, 
    .popular-tours{
        flex-direction: column; 
    }

    h3{
        font-size: 20px;
        text-align: center;
    }
    p{
        font-size: 14px;
    }


    /* common styles ends  */

    .navbar{
        gap: 20px;
    }
    .nav-options{
        gap: 10px;
    }
    .banner{
        padding: 32px 16px; 
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-description{  
        padding: 14px 4px 32px;
    }
    



    .travel-inputs{
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }
    
    input, select{
        
        width: 100%;
    }
    .input-btn{
        width: 100%;
    }

    /* main section  */
    
    
    /* popular tour  */
    .popular-tour-img{
        width: 100%;
        margin-top: 0;
    }
    .popular-tour-img img{
        width: 100%;
        margin-top: 0;
    }

    .popular-tours-content li{
        font-size: 14px;          
    }
    .popular-tours-content button{
        margin: 0;
    }


    
}